.submit-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #d8304d;
}
.small-btn {
    padding: 0.5rem 1rem !important;
}
.back-to-top {
    position: fixed;
    right: 1.5rem;
    bottom: -30%;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    transition: bottom 0.4s, transform 0.3s;
    z-index: 500;
}
.back-to-top:hover {
    transform: translateY(-4px);
}
.back-to-top.show-scroll {
    bottom: 2rem;
}
#login-btn {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}
#login-btn:hover {
    background-color: #d8304d;
}
.header-shortcut-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color) !important;
    transition: background-color 0.3s;
}
.header-shortcut-btn ion-icon {
    font-size: 1.2rem;
}
.header-shortcut-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color) !important;
    color: white;
}